@using WebMyPham.Models
@{
    ViewBag.Title = "AddProducer";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="container mx-auto w-50">
    <div class="card">
        <div class="card-header bg-primary text-light text-center" style="font-size:25px">
            Thêm mới nhà sản xuất
        </div>
        <div class="card-body">
            <form action="~/Admin/AddProducer" method="post" class="form-inline">
                <div class="form-group w-100">
                    <label for="exampleInputEmail1" class="col-md-12 text-left">Nhà sản xuất</label>
                    <input type="text" class="form-control col-md-12" id="" name="producer" aria-describedby="emailHelp" placeholder="Enter your caterory here.">
                    <small id="emailHelp" class="form-text text-muted col-md-12">Ví dụ: Jasmine,Akaya,La Nho,...</small>
                    <div class="col-md-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="#" class="btn btn-outline-primary" style="margin-left:10px">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

