@using WebMyPham.Models
@{
    ViewBag.Title = "AdminSite";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-light text-center" style="font-size:25px">
            Trang Admin. Mọi quản lý của trang web sẽ được thực hiện ở đây
        </div>
        <div style="text-align: center;" class="card-body">
            <img style="vertical-align: middle;display: inline-block;" src="~/Img/admin_site_pic.png" />
        </div>
    </div>
</div>

