@using WebMyPham.Models
@{
    ViewBag.Title = "CateroryList";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="container mx-auto w-md-50">
    <div class="card">
        <div class="card-header bg-primary text-light text-center" style="font-size:25px">
            Danh sách thể loại
        </div>
        <div class="card-body">
            <div class="" style="margin-bottom:50px">
                <a class="float-right btn btn-primary" href="~/Admin/AddCaterory">Thêm Mới</a>
            </div>

            <table class="table text-center" style="table-layout:fixed;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Tên thể loại</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Caterory != null)
                    {
                        foreach (var item in ViewBag.Caterory)
                        {
                    <tr>
                        <td>@item.idCaterogy</td>
                        <td>@item.caterory</td>
                        <td><a href="#" class="btn btn-outline-primary" style="margin-right:10px">Sửa</a><a href="#" class="btn btn-outline-primary">Xoá</a></td>
                    </tr>
                         }
                     }
                </tbody>
            </table>
        </div>
    </div>
</div>

