
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Asene</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <style>
        body {
            font-family: "Lato", sans-serif;
            background-color: antiquewhite;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        @@media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

                .sidenav a {
                    font-size: 18px;
                }
        }

        a > i {
            vertical-align: middle;
            padding-bottom: 6px
        }

        #menu:hover {
            color: aqua;
        }
    </style>
</head>
<body>

    <div id="mySidenav" class="sidenav">
        @if (Session["user"] == null)
        {
        }
        else
        {
            foreach (var user in ViewBag.Account)
            {
                if (user.email == Session["user"].ToString())
                {
                    <a href="" class="border-bottom border-light nav-link">
                        <i class="material-icons">people</i>Xin chào @user.name
                    </a>
                }
            }
        }
        <a href="~/Home/Index" class="border-bottom border-light nav-link"><i class="material-icons">home</i> Home</a>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="~/Admin/ProductList"><i class="material-icons">import_export</i>Product</a>
        <a href="~/Admin/CateroryList"><i class="material-icons">category</i>Caterogy</a>
        <a href="~/Admin/ProducerList"><i class="material-icons">playlist_add</i>Producer</a>
        <a href="#"><i class="material-icons">storage</i>Storage</a>
        <a href="~/Cart/DonDatHang"><i class="material-icons">directions_bike</i>Customer Order</a>
        <a href="~/Admin/DoanhThu"><i class="material-icons">attach_money</i>Revenue</a>
        <a href="#"><i class="material-icons">how_to_reg</i>Account Management</a>
        <a href="~/User/Logout" class="border-top border-light nav-link"><i class="material-icons">directions_run</i> Log out</a>
    </div>
    <button class="bg-success" style="font-size:30px;cursor:pointer" id="menu" onmouseover="openNav()">&#9776; Menu</button>
    @RenderBody()
    <hr />
    <footer class="bg-dark text-light text-center p-3">
        <p>&copy; @DateTime.Now.Year - làm bởi công sức và mồ hôi =)) Quang Tân, Minh Quang, Đình Tài</p>
    </footer>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>
